#design>.portfolioContainer{
    max-width:85vh;
    min-height:400px;
    position: relative;
    top: -5vh;
    margin-left:auto;
    margin-right:auto;
    padding-right: 5vh;
    padding-top:0;
}

.carousel-inner>.item{
    width:auto;
    text-align: center;
}

.carousel-inner>.item>a>img{
    opacity: 0.9;
    filter: contrast(0.5);
}

@media(max-width:768px){
    #design>.portfolioContainer{
        top:0;
    }
}

@media(max-height:700px){
    #design>.portfolioContainer{
        max-width:100%;
    }
}

@media(max-height:1000px){
    #design>.portfolioContainer{
        min-height:0;
    }
}