footer {
    background-color: black;
    padding-right: 15px;
    padding-left: 15px;
}
#contact h1 {
    font-size: 8em;
    color: white;
    padding-top: 5vh;
    margin: 0;
}

#contact h3 {
    font-size: 1.8em;
    font-weight: 200;
    letter-spacing: 0.1em;
    color: lightgray;
}

.footer-flexbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 3em;
}

.footer-flexCont {
    flex-grow: 1;
    min-width: 250px;
    width: auto;
}

.footer-flexCont iframe {
    width: 90%;
    height: 15em;
}

.footer-flexCont p {
    color: white;
}

.form_text {
    display: block;
}

.footer-flexCont label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    font-weight: 100;
    padding: 0 0 0 0;
    margin: 0;
    color: #aaaaaa;
}

.footer-flexCont strong {
    font-size: 1em;
    font-weight: 100;
    color: #aaaaaa;
}

.footer-flexCont a {
    font-size: 1em;
    font-weight: 300;
    color: white;
}

.footer-flexCont input#submit{
    color:white;
}

.footer-flexCont input {
    font-size: 1em;
    font-weight: 100;
    border: none;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    /*border-bottom: 1px solid white;*/
    padding: 0.15em 0.25em;
    margin-bottom: 0.5em;
    color: white;
}

.footer-flexCont input:focus {
    border: none;
    width: 90%;
    border-bottom: 1px solid white;
    color: white;
    outline: none !important;
}

.footer-flexCont textarea {
    font-size: 1em;
    font-weight: 200;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 90%;
    max-width: inherit;
    height: 15vh;
    padding: 0.25em 0.5em;
    margin-bottom: 0.5em;
    color: white;
}

.footer-flexCont textarea:focus {
    outline: none !important;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 90%;
    max-width: inherit;
    height: 15vh;
}

.footer-flexCont button {
    /*background-color: #8EFF4D;*/
    background-color: transparent;
    border: 1px solid white;
    padding: 0.25em 0.5em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 100;
    margin-top: 0.5em;
    width: 90%;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5 ease;
    transition: background-color 0.5s ease;
}

.footer-flexCont button:hover {
    background-color: green;
}

@media (max-width:1000px) {
    #contact h1 {
        font-size: 5em;
        color: white;
        padding-left: 0vh;
    }
}