html {
    font-family: 'roboto', 'arial', 'helvetica', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 4em;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

h5 {
    font-family: 'roboto', 'arial', 'helvetica', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

.bg-img {
    background: url('image/mountains.jpg');
    background-position: center;
    position: fixed;
    width: 100%;
    height: auto;
    /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}

.sectionDivider {
    margin-top: 4em;
    padding-top: 3em;
    margin-bottom: 4em;
    margin-left: 3vw;
    margin-right: 3vw;
}

@media(min-width:2200px) {
    .sectionDivider {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('image/mountains.jpg');
    background-position: center;
    background-color: #00427F;
    background-repeat: no-repeat;
    background-size: auto 120%;
    background-attachment: fixed;
}

.jumbotronText {
    padding-top: 35vh;
    padding-left: 3vw;
}

@media(max-width:768px) {
    .jumbotronText {
        padding-top: 25vh;
    }
}


/* Highlight Portfolio Style*/

.hpContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hpItem {
    flex-grow: 1;
    width: auto;
    max-width: 80vw;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hpItem h2 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}


/* Old Portfolio Style*/

.opContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2em;
}

.opItem {
    display: inline-block;
    width: 50%;
    padding: 0.5em;
    flex-basis: 45%;
}

.opItem img {
    width: 50%;
}

.opLabel {
    width: 45%;
    float: right;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.opLabel h2 {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

@media(max-width:1366px) {
    .opItem img {
        width: 80%;
    }
    .opLabel {
        padding-left: 0;
        padding-right: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 80%;
        float: left;
    }
}

@media(max-width:768px) {
    .opItem img {
        width: 96%;
    }
    .opLabel {
        padding-left: 0;
        padding-right: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 96%;
        float: left;
    }
}

@media(max-width:550px) {
    .opItem {
        width: 96%;
        flex-basis: 96%;
    }
}


/* About: Content */

.aboutHeadline {
    margin-top: 3em;
}

.aboutHeadline h1 {
    width: 85%;
}

.aboutBody {
    display: inline-flex;
    margin-top: 3em;
    flex-wrap: wrap;
}

.aboutContent {
    width: 50%;
    margin: 0;
}

.aboutContent p {
    padding-top: 5em;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5em;
    line-height: 2em;
}

.aboutImg {
    float: right;
    width: 40%;
}

.aboutImg img {
    width: 100%;
}

@media(max-width:1800px) {
    .aboutContent p {
        padding-right: 10%;
        padding-left: 10%;
    }
}

@media(max-width:1200px) {
    .aboutHeadline h1 {
        font-size: 3.5em;
        width: 95%;
    }
    .jumbotron h1 {
        font-size: 3.5em;
        width: 95%;
    }
    .aboutContent {
        width: 80%;
    }
    .aboutImg {
        width: 90%;
        float: left;
    }
    .aboutContent {
        width: 100%;
    }
}

@media(max-width:768px) {
    .aboutHeadline h1 {
        font-size: 2.5em;
    }
    .jumbotron h1 {
        font-size: 2.5em;
    }
    .aboutContent p {
        padding-right: 0;
        padding-left: 0;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}


/* Resume Section */

.resume {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1em;
}

.resume-section {
    margin-top: 3em;
    width: 33%;
    flex-basis: 33%;
}

.resume-section h3 {
    padding-top: 1.5em;
}

.resume-section li {
    margin-top: 1em;
    list-style-type: none;
    width: 95%;
}

.resume-section p {
    margin: 0;
}

.resume-section p a {
    font-weight: 500;
}

@media(max-width:1800px) {
    .resume-section {
        width: 50%;
        flex-basis: 50%;
    }
}

@media(max-width:1125px) {
    .resume-section {
        width: 80%;
        flex-basis: 80%;
    }
}

@media(max-width:768px) {
    .resume-section {
        width: 100%;
        flex-basis: 100%;
    }
    .resume-section ul {
        padding-left: 5%;
    }
}


/* SIDEBAR NAV */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 80vw;
    margin-right: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.nav li {
    list-style: none;
    padding-top: 0.35em;
}

.nav a {
    color: white;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 30vw;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 30vw;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    .sidebar-nav {
        max-width: 300px;
        width: 40vw;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 40vw;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media(min-width:1333px) {
    #wrapper {
        padding-left: 300px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 20vw;
    }
}

@media(max-width:768px) {
    .sidebar-nav {
        width: 80vw;
    }
}