body {
    min-width: 320px;
}

.bg-img {
    background: url('image/mountains.jpg');
    background-position: center;
    position: fixed;
    width: 100%;
    height: auto;
    /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}

.jumbotron h1 {
    font-size: 6em;
    padding-top: 25vh;
    color: white;
    text-align: left;
    padding-left: 7vw;
    padding-right: 4vh;
    margin: 0;
}

.jumbotron h3 {
    font-size: 2em;
    font-weight: 200;
    color: white;
    margin-top: 1.25em;
    text-align: left;
    padding-left: 7vw;
    padding-right: 4vw;
}

.jumbotron p {
    /*padding-left: 5vw;
    padding-right: 5vw;*/
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: 0.04em;
    padding-left: 5vw;
    padding-top: 30vh;
    padding-right: 4vw;
    padding-bottom: 3vh;
    text-align: right;
    max-width: 600px;
    margin-right: 0;
    margin-left: auto;
    color: white;
}

.sectionDivider {
    background-color: white;
    min-height: 65vh;
    max-height: 100%;
    padding-left: 13em;
    padding-right: 15em;
    position: relative;
}

.sectionDivider h1 {
    font-size: 6em;
    padding-top: 10vh;
    position: relative;
    z-index: 100;
}

#design h1 {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#media h1 {
    /* text-shadow: -1px 0 rgb(36, 36, 36), 0 1px rgb(36, 36, 36), 1px 0 rgb(36, 36, 36), 0 -1px rgb(36, 36, 36); */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.sectionDivider p {
    position: relative;
    top: -5vh;
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: 0.01em;
    padding-bottom: 3vh;
    text-align: right;
    max-width: 500px;
    margin-right: 0;
    margin-left: auto;
}

.grow {
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
}

.grow:hover {
    transform: scale(1.2);
}

.date {
    font-style: italic;
}

.media {
    color: white;
}

.media .portfolioItem h4,
.media .portfolioItem p {
    color: white;
}

@media (max-width:1500px) {
    .jumbotron h1 {
        padding-top: 15vh;
    }
}

@media (max-width:1200px) {
    .jumbotron h1 {
        font-size: 4.5em;
        padding-top: 17vh;
        padding-left: 2vw;
    }
    .jumbotron p {
        padding-top: 20vh;
    }
    .jumbotron h3 {
        padding-left: 2vw;
    }
    .sectionDivider h1 {
        font-size: 4.5em;
    }
    .sectionDivider p {
        max-width: 60%;
    }
    .sectionDivider {
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media (max-width:768px) {
    .jumbotron h1 {
        font-size: 2.5em;
        padding-top: 20vh;
        padding-left: 2vh;
    }
    .jumbotron h3 {
        font-size: 1.25em;
        padding-left: 2vh;
    }
    .sectionDivider h1 {
        font-size: 2.5em;
    }
    .sectionDivider p {
        max-width: 90%;
        top: 0;
    }
    .sectionDivider {
        padding: 1em;
    }
}

.static-nav {
    position: absolute;
}

.active-nav {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav>li>a {
    text-decoration: none;
}

.resume-button h3 {
    padding-left: 5vw;
    margin: 0;
}

.resume-shell {
    display: none;
    padding-left: 5vw;
    margin: 0;
}

.resume {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 3em;
    text-align: left;
}

.resume-section {
    flex-grow: 1;
    width: 30%;
    min-width: 350px;
}

.resume ul {
    padding-left: 3em;
    text-align: left;
    margin-top: 2em;
}

.resume ul li {
    list-style-type: none;
    padding-bottom: 1em;
}

.resume ul li p {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    text-align: left;
    top: 0;
}

.portfolioContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 3vh;
    padding-top: 5vh;
    padding-left: 5vw;
}

.portfolioItem {
    min-width: 150px;
    max-width: 400px;
    flex: 1;
    flex-basis: auto;
    padding-bottom: 1em;
}

.portfolioItem img {
    min-width: 140px;
    width: 98.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: auto;
    /* z-index: -10000; */
}

.portfolioItem a {
    text-decoration: none;
    position: relative;
}

.portfolioItem h4 {
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 0.25em;
    text-align: center;
    color: black;
}

.portfolioItem p {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    color: black;
}

@media (max-width:1272px) {
    .portfolioItem {
        max-width: 80%;
    }
    .resume ul {
        padding-left: 0;
    }
}

.fade {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.fade:hover {
    opacity: 0.6;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.not-active img {
    filter: grayscale(70%);
    opacity: 0.8;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #111111;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 70vw;
    /* margin-right:0; */
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 30vw;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 30vw;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 30vw;
        max-width: 300px;
    }
    .sidebar-nav {
        max-width: 300px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media(min-width:1333px) {
    #wrapper {
        padding-left: 300px;
    }
}

@media(max-width:768px) {
    .sidebar-nav {
        width: 80vw;
    }
}

.menu-content {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.menu-content a {
    font-size: 1em;
    color: lightgrey;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 0.1em;
    -webkit-transition: text-decoration 0.1s ease-in-out;
    -moz-transition: text-decoration 0.1s ease-in-out;
    transition: text-decoration 0.1s ease-in-out;
}

.menu-content a:hover {
    color: white;
}

.menu-content h1 {
    padding-top: 3vh;
    color: white;
}

.menu-content h2 {
    font-size: 1.1em;
    font-weight: 200;
    color: lightgray;
    margin-top: 0.5em;
}

.menu-content p {
    color: gray;
    font-weight: 100;
    margin-bottom: 0.25em;
}

.menuClose {
    position: absolute;
    right: 0.5em;
}

.menuOpen {
    position: fixed;
    top: 1em;
    color: white;
    background: rgba(50, 50, 50, 0.5);
    padding: 0.5em;
    z-index: 100;
}

.menuOpen,
.menuOpen:visited,
.menuOpen:active {
    color: white;
    text-decoration: none;
}

.menuOpen:hover {
    color: rgb(78, 78, 78);
    background: rgba(200, 200, 200, 0.75);
    text-decoration: none;
}