 /*body {
     overflow-x: hidden;
     font-family: 'raleway', 'roboto', 'arial', 'helvetica', 'sans-serif;
 }
 /* Toggle Styles */
 
 #wrapper {
     padding-left: 0;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }
 
 #wrapper.toggled {
     padding-left: 0px;
 }
 
 #sidebar-wrapper {
     z-index: 1000;
     position: fixed;
     left: 250px;
     width: 0;
     height: 100%;
     margin-left: -250px;
     overflow-y: auto;
     background: #111111;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }
 
 #wrapper.toggled #sidebar-wrapper {
     width: 95vw;
     /*margin-right:0;*/
 }
 
 #page-content-wrapper {
     width: 100%;
     position: absolute;
     padding: 15px;
 }
 
 #wrapper.toggled #page-content-wrapper {
     position: absolute;
     margin-right: -250px;
 }
 /* Sidebar Styles */
 
 .sidebar-nav {
     position: absolute;
     top: 0;
     width: 30vw;
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 .sidebar-nav>.sidebar-brand {
     height: 65px;
     font-size: 18px;
     line-height: 60px;
 }
 
 @media(min-width:768px) {
     #wrapper {
         padding-left: 30vw;
     }
     #wrapper.toggled {
         padding-left: 0;
     }
     #sidebar-wrapper {
         width: 30vw;
         max-width: 400px;
     }
     .sidebar-nav {
         max-width: 400px;
     }
     #wrapper.toggled #sidebar-wrapper {
         width: 0;
     }
     #page-content-wrapper {
         padding: 20px;
         position: relative;
     }
     #wrapper.toggled #page-content-wrapper {
         position: relative;
         margin-right: 0;
     }
 }
 
 @media(min-width:1333px) {
     #wrapper {
         padding-left: 400px;
     }
 }
 
 @media(max-width:768px) {
     .sidebar-nav {
         width: 100%;
     }
 }
 
 .menu-content {
     padding-left: 2.5%;
     padding-right: 2.5%;
     padding-top: 5%;
     padding-bottom: 5%;
 }
 
 .menu-content a {
     font-size: 1em;
     color: lightgrey;
     text-decoration: none;
     font-weight: 100;
     letter-spacing: 0.1em;
     -webkit-transition: text-decoration 0.1s ease-in-out;
     -moz-transition: text-decoration 0.1s ease-in-out;
     transition: text-decoration 0.1s ease-in-out;
 }
 
 .menu-content a:hover {
     color: white;
 }
 
 .menu-content h1 {
     padding-top: 3vh;
     color: white;
 }
 
 .menu-content h2 {
     font-size: 1.1em;
     font-weight: 200;
     color: lightgray;
     margin-top: 0.5em;
 }
 
 .menu-content p {
     color: gray;
     font-weight: 100;
     margin-bottom: 0.25em;
 }
 
 .menuClose {
     position: absolute;
     right: 0.5em;
 }
 
 .menuOpen {
     position: fixed;
     top: 1em;
     color: white;
     background: rgba(50, 50, 50, 0.5);
     padding: 0.5em;
     z-index: 100;
 }
 
 .menuOpen,
 .menuOpen:visited,
 .menuOpen:active {
     color: white;
     text-decoration: none;
 }
 
 .menuOpen:hover {
     color: rgb(78, 78, 78);
     background: rgba(200, 200, 200, 0.75);
     text-decoration: none;
 }
 /*//TOGGLE BUTTON*/
 /** {
  margin: 0;
  padding: 0; 
}*/
 
 #nav-icon3 {
     width: 3em;
     height: 1.5em;
     position: fixed;
     margin: 1em;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-transition: .5s ease-in-out;
     -moz-transition: .5s ease-in-out;
     -o-transition: .5s ease-in-out;
     transition: .5s ease-in-out;
     cursor: pointer;
     z-index: 10000;
 }
 
 #nav-icon3 span {
     display: block;
     position: absolute;
     height: 0.45em;
     width: 100%;
     background: black;
     border-radius: 2px;
     opacity: 1;
     left: 0;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-transition: .25s ease-in-out;
     -moz-transition: .25s ease-in-out;
     -o-transition: .25s ease-in-out;
     transition: .25s ease-in-out;
 }
 /* Icon 3 */
 
 #nav-icon3 span:nth-child(1) {
     top: 0px;
     -webkit-transition: color 0.25s ease-in-out;
     -moz-transition: color 0.25s ease-in-out;
     transition: color 0.25s ease-in-out;
 }
 
 #nav-icon3 span:nth-child(2),
 #nav-icon3 span:nth-child(3) {
     top: 18px;
     -webkit-transition: color 0.25s ease-in-out;
     -moz-transition: color 0.25s ease-in-out;
     transition: color 0.25s ease-in-out;
 }
 
 #nav-icon3 span:nth-child(4) {
     top: 36px;
     -webkit-transition: color 0.25s ease-in-out;
     -moz-transition: color 0.25s ease-in-out;
     transition: color 0.25s ease-in-out;
 }
 
 #nav-icon3.open span:nth-child(1) {
     top: 18px;
     width: 0%;
     left: 50%;
     -webkit-transition: color 0.25s ease-in-out;
     -moz-transition: color 0.25s ease-in-out;
     transition: color 0.25s ease-in-out;
 }
 
 #nav-icon3.open span:nth-child(2) {
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
     color: white;
 }
 
 #nav-icon3.open span:nth-child(3) {
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);
     color: white;
 }
 
 #nav-icon3.open span:nth-child(4) {
     top: 18px;
     width: 0%;
     left: 50%;
     color: white;
 }
 
 .sectionDivider {
     padding-top: 0.5em;
     padding-bottom: 0.5em;
 }
 
 .sectionDivider h1 {
     font-size: 6em;
     padding-top: 2vh;
     padding-bottom: 2vh;
     padding-left: 15px;
     padding-right: 15px;
 }
 
 .sectionDivider h2 {
     font-size: 2em;
     padding-top: 2vh;
     padding-bottom: 4vh;
     padding-left: 15px;
     padding-right: 15px;
     max-width: 95%;
     margin-top: 0;
     margin-bottom: 0;
 }
 
 .sectionDivider h3 {
     font-size: 2em;
     padding-top: 0.25vh;
     padding-bottom: 0.25vh;
     padding-left: 15px;
     padding-right: 15px;
 }
 
 .sectionDivider p {
     font-size: 1.1em;
     font-weight: 500;
     letter-spacing: 0.04em;
     padding-left: 5vw;
     padding-bottom: 1vw;
     max-width: 95%;
 }
 
 .sectionDivider figure {
     padding-left: 5vw;
 }
 
 .sectionDivider figure figcaption {
     padding-bottom: 1.5em;
     font-size: 1.1em;
     text-align: center;
 }
 
 .sectionDivider img {
     width: 100%;
     height: auto;
 }
 
 .sectionDivider iframe {
     width: 100%;
     height: 35vh;
     border: none;
 }
 
 .grow {
     -webkit-transition: transform 0.4s ease;
     -moz-transition: transform 0.4s ease;
     transition: transform 0.4s ease;
 }
 
 .grow:hover {
     transform: scale(1.2);
 }
 
 .date {
     font-style: italic;
 }
 
 .row img {
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
 }
 
 .row figcaption {
     text-align: center;
 }
 
 .row iframe.video {
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 42vw;
     border: 0;
 }
 
 @media (max-width:1000px) {
     .sectionDivider h1 {
         font-size: 5em;
         padding-top: 2vh;
     }
     .sectionDivider {
         padding: 1em;
     }
     #contact h1 {
         font-size: 5em;
         color: white;
         padding-left: 2.5vh;
     }
 }